* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: aliceblue;
    background-color: #333;
    text-align: center;
}

a {
    text-decoration: none;
}

p {
    padding: 1.6rem 0;
}

header {
    height: 46rem;
    position: relative;
}

header .bg-image {
    position: absolute;
    background-image: url(images/sek.jpg);
    background-size: cover;
    background-position: center;
    height: 46rem;
    width: 100%;
    opacity: 0.7;
    z-index: -1;
}

header h1 {
    padding: 12rem 0 0;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #daa520;
    border: 1px solid #666;
    padding: 1.6rem 3.2rem;
    margin: 0.5rem 0;
    transition: all 0.5s;
}

.btn:hover {
    background-color: #daa520;
    color: #333;
}

#sec-a {
    background-color: aliceblue;
    color: #333;
    padding: 3.2rem 0;
}


.gallery {
    display: flex;
    justify-content: center;
    gap: 15px; 
    list-style: none;
    padding: 20px;
    flex-wrap: wrap; 
}

.col {
    flex: 1;
    max-width: calc(25% - 15px); 
}

.col img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px; 
    transition: transform 0.3s ease-in-out;
}

.col img:hover {
    transform: scale(1.05); 
}


@media screen and (max-width: 1024px) {
    .col {
        max-width: calc(50% - 15px); 
    }
}

@media screen and (max-width: 600px) {
    .col {
        max-width: 100%; 
    }
}
